# Dependencies
node_modules/

# Environment variables
.env

# Test results
newman/

#Local environment files
postman-collection/groq.postman_environment_local.json

# Build outputs
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*